version: '3.8'
services:
  app:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./src:/app/src
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.globeclock.rule=Host(`globe.narsoft.ir`)"
      - "traefik.http.services.globeclock.loadbalancer.server.port=80"
    networks:
      - traefik

networks:
  traefik:
    external: true
    name: traefik_network
